<!-- included template from includes-->
{% include "/public/widgets/general-widget/login-page-layout.html" %}

        <!-- az-column-signup-right -->
        <div class="az-column-signup">
            <a href="{{url_for('iam.login')}}"><h1 class="az-logo">R<span>T</span>B</h1></a>
            <div class="az-signup-header"><!-- az-signup-header -->
                <h2>Welcome back!</h2>
                <h4>Reset Password</h4>

                <div><!-- flash error message -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="tx-danger">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}
                    </div><!-- form-group -->
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div><!-- form-group -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-az-primary btn-block") }}
                    </div>
                </form>

            </div><!-- az-signup-header -->

            <div class="az-signup-footer"><!-- az-signin-footer -->
                <p>Try <a href="{{url_for('iam.login')}}">Login</a> again</p>
                <p>Don't have an account? <a href="{{ url_for('iam.signup') }}">Create an Account</a></p>
            </div><!-- az-signin-footer -->

        </div><!-- az-column-signup -->

    </div><!-- az-signup-wrapper -->


    <!-- vendor js -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- azia css -->
    <script src="{{ url_for('static', filename='js/azia.js') }}"></script>

</body>
</html>
