
<!--widget: welcome header with current date-->

<!-- card: az-dashboard-one-title -->
<div class="az-dashboard-one-title">

    <!-- welcome message on the left-->
    <div>
        <h2 class="az-dashboard-title">Hi {{user.first_name}} {{user.last_name}}, welcome back!</h2>
        <p class="az-content-text">Your playground for brainy fun.</p>
    </div>

    <!-- current date on the right-->
    <div class="az-content-header-right">
        <div class="media">
            <div class="media-body">
                <label>Today's Date</label>
                <h6>{{today_date}}</h6>
            </div><!-- media-body -->
        </div><!-- media -->
    </div>

</div><!-- az-dashboard-one-title -->