<!DOCTYPE html>
<html lang="en">

    <!-- included template from includes-->
    {% include "/public/includes/head.html" %}

    <body class="az-body">

            <div class="az-error-wrapper">
                <h1>403</h1>
                <h2>Oopps. You don not have permission to do that (403).</h2>
                <h6>Please check your account and try again.</h6>
                {% if current_user.is_authenticated %}
                <a href="{{url_for('main.index')}}" class="btn btn-outline-indigo">Back to Home</a>
                {% else %}
                <a href="{{url_for('iam.login')}}" class="btn btn-outline-indigo">Back to Home</a>
                {% endif %}
            </div>
    </body>

</html>



