<!-- az-header begins-->
<div class="az-header">
    <div class="container">


        <!-- az-header-left begins-->
        <div class="az-header-left">

            {% if current_user.is_authenticated %}
            <a href="{{url_for('users.index')}}" class="az-logo"><h1 class="az-logo">R<span>T</span>B</h1></a>
            {% else %}
            <a href="{{url_for('main.login')}}" class="az-logo"><h1 class="az-logo">R<span>T</span>B</h1></a>
            {% endif %}

            <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left ends-->


        <!-- az-header-right begins-->
        <div class="az-header-right">
            <div class="dropdown az-profile-menu">
                <a href="" class="az-img-user">
                    {% if user.predicted_gender == 'male' %}
                    <img src="{{ url_for('static', filename='img/faces/face1.png') }}" alt="boy_avatar">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/faces/face2.jpeg') }}" alt="girl_avatar">
                    {% endif %}
                </a>


                <!-- dropdown-menu begins-->
                <div class="dropdown-menu">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>

                    <!-- dropdown-card content begins-->
                    <div class="az-header-profile">
                        <div class="az-img-user">
                            {% if user.predicted_gender == 'male' %}
                            <img src="{{ url_for('static', filename='img/faces/face1.png') }}" alt="boy_avatar">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/faces/face2.jpeg') }}" alt="girl_avatar">
                            {% endif %}
                        </div>
                        <h6>{{user.first_name}} {{user.last_name}}</h6>
                        <span class="tx-5">predicted gender: <b>{{user.predicted_gender}}</b>
                            predicted country: <i class="flag-icon flag-icon-{{user.predicted_country}} flag-icon-squared"
                            title="predicted country: {{user.predicted_country}}"></i></td></i>
                            prediction accuracy: <b>{{user.gender_predict_accuracy}}%</b>
                        </span>
                    </div>

                    <a href="{{ url_for('users.profile') }}" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My
                        Profile</a>
                    <a href="{{ url_for('main.logout') }}" class="dropdown-item"><i class="typcn typcn-power-outline"></i>
                        Sign Out</a>

                </div><!-- dropdown-menu ends-->

            </div>
        </div><!-- az-header-right ends-->

    </div><!-- container -->
</div><!-- az-header ends-->
