<!-- included template from includes-->
{% include "/public/includes/login-page-layout.html" %}

        <!-- az-column-signup-right -->
        <div class="az-column-signup">
            <a href="{{url_for('main.login')}}"><h1 class="az-logo">R<span>T</span>B</h1></a>
            <div class="az-signup-header"><!-- az-signup-header -->
                <h2>Welcome back!</h2>
                <h4>Please sign in to continue</h4>

                <div><!-- flash error message -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="tx-danger">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Enter your username" name="username"
                               id="username" required>
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter your password" name="password"
                               id="password" required>
                    </div><!-- form-group -->
                    <button class="btn btn-az-primary btn-block" type="submit" value="Submit">Sign In</button>
                    <button class="btn btn-light btn-block" type="reset" value="Clear">Reset</button>
                </form>

            </div><!-- az-signup-header -->

            <div class="az-signup-footer"><!-- az-signin-footer -->
                <p><a href="{{url_for('main.reset_request')}}">Forgot password?</a></p>
                <p>Don't have an account? <a href="{{ url_for('main.signup') }}">Create an Account</a></p>
            </div><!-- az-signin-footer -->

        </div><!-- az-column-signup -->

    </div><!-- az-signup-wrapper -->


    <!-- vendor js -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/ionicons/ionicons.js') }}"></script>

    <!-- azia css -->
    <script src="{{ url_for('static', filename='js/azia.js') }}"></script>

</body>
</html>
